<div class="wizard-background"></div>
<div class="wizard-container">
  <div class="progress-bar-container">
    <progress [value]="currentStep + 1" [max]="questions.length"></progress>
  </div>

  <div class="question-text">
    <p><strong>{{ currentQuestion.text }}</strong></p>
    <small *ngIf="currentQuestion.description">{{ currentQuestion.description }}</small>
  </div>

  <div class="answers">
    <!-- Pregunta abierta -->
    <ng-container *ngIf="!currentQuestion.options?.length">
      <input type="text" 
             [(ngModel)]="currentAnswer" 
             (ngModelChange)="answerCurrent(currentQuestion.id, currentAnswer)"
             placeholder="Escribe tu respuesta aquí" />
    </ng-container>

    <!-- Pregunta con opciones -->
    <ng-container *ngIf="currentQuestion.options?.length">
      <ng-container *ngIf="currentQuestion.multiple; else singleChoice">
        <div *ngFor="let option of currentQuestion.options">
          <label>
            <input type="checkbox"
                   [checked]="currentAnswer?.includes(option)"
                   (change)="onCheckboxChange(currentQuestion.id, option, $event)" />
            {{ option }}
          </label>
        </div>
      </ng-container>

      <ng-template #singleChoice>
        <div *ngFor="let option of currentQuestion.options">
          <label>
            <input type="radio"
                   [name]="'q' + currentQuestion.id"
                   [value]="option"
                   [(ngModel)]="currentAnswer"
                   (ngModelChange)="answerCurrent(currentQuestion.id, currentAnswer)" />
            {{ option }}
          </label>
        </div>
      </ng-template>
    </ng-container>
  </div>

  <div class="wizard-buttons">
    <button (click)="prevStep()" [disabled]="currentStep === 0">Anterior</button>
    <button *ngIf="currentStep < questions.length - 1" (click)="nextStep()">Siguiente</button>
    <button *ngIf="currentStep === questions.length - 1" (click)="finish()">Finalizar</button>
  </div>
</div>
