<!-- src/app/components/oferta-list/oferta-list.component.html -->
<div class="list-header">
  <h2>Ofertas</h2>
  <button mat-raised-button color="primary" (click)="crearNueva()">Crear Nueva Oferta</button>
</div>
<br/>

<table mat-table [dataSource]="ofertas" class="mat-elevation-z2" *ngIf="!loading">

  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let o">{{ o.nombre }}</td>
  </ng-container>

  <ng-container matColumnDef="descripcion">
    <th mat-header-cell *matHeaderCellDef>Descripción</th>
    <td mat-cell *matCellDef="let o">{{ o.descripcion }}</td>
  </ng-container>

  <ng-container matColumnDef="activa">
    <th mat-header-cell *matHeaderCellDef>Activa</th>
    <td mat-cell *matCellDef="let o">{{ o.activa ? 'Sí' : 'No' }}</td>
  </ng-container>

  <ng-container matColumnDef="horarios">
  <th mat-header-cell *matHeaderCellDef>Horarios</th>
  <td mat-cell *matCellDef="let o">
    {{ mostrarHorarios(o) }}
  </td>
</ng-container>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let o">
      <button mat-button color="primary" (click)="editar(o)">Editar</button>
      <button mat-button color="warn" (click)="eliminar(o.id)">Eliminar</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div *ngIf="loading">Cargando ofertas...</div>
