<h2>{{ esEdicion ? 'Editar Servicio' : 'Crear Servicio' }}</h2>

<form [formGroup]="form" (ngSubmit)="guardar()">

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Título</mat-label>
    <input matInput formControlName="title" required />
    <mat-error *ngIf="form.controls['title'].invalid">El título es
      obligatorio</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Archivo Imagen</mat-label>
    <input matInput formControlName="imageFileName" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Descripción</mat-label>
    <textarea matInput formControlName="description" rows="5"></textarea>
  </mat-form-field>

  <div class="form-actions">
    <button mat-raised-button color="primary" type="submit"
      [disabled]="form.invalid || loading">
      Guardar
    </button>
    <button mat-button type="button" (click)="cancelar()">Cancelar</button>
  </div>

</form>
