<div class="contact-toolbar">
  <a href="tel:+34682391660" title="Llamar">
    <i class="fas fa-phone"></i> <span class="text">+34 682 391 660</span>
  </a>
  <a href="mailto:info@cuidadamente.org" title="Enviar correo">
    <i class="fas fa-envelope"></i> <span class="text">info&#64;cuidadamente.org</span>
  </a>
  <a href="https://wa.me/34682391660" target="_blank" rel="noopener" title="WhatsApp">
    <i class="fab fa-whatsapp"></i> <span class="text">WhatsApp</span>
  </a>
  <a routerLink="/contacto" class="contact-link" title="Ir a contacto">
    <i class="fas fa-map-marker-alt"></i> <span class="text">c/Capitán Dema 1-4º. Puerta 2.</span>
  </a>
</div>
