<section class="about">
  <div class="container">
    <h2>¿Quiénes somos?</h2>
    <p>
      Cuidadamente es un espacio donde tú eres el protagonista. Queremos acompañarte en el camino hacia tu salud y crecimiento personal, de la mano de profesionales con experiencia, formación y desde la empatía y humanidad.
    </p>

    <div class="about-section">
      <h3>Nuestro trabajo</h3>
      <p>
        Proporcionamos un servicio de alta calidad accesible para todos. Creamos un entorno seguro donde nuestros pacientes reciben la atención que necesitan para mejorar su bienestar emocional.
      </p>
    </div>

    <div class="about-section">
      <h3>Datos de contacto</h3>
      <p><i class="fas fa-phone"></i> Teléfono: +34 682 391 660</p>
      <p><i class="fas fa-envelope"></i> Email: info&#64;cuidadamente.org</p>
      <p><i class="fas fa-map-marker-alt"></i> Dirección: c/Capitán Dema 1-4º. Puerta 2.</p>
    </div>

    <div class="about-section">
      <h3>Nuestro equipo</h3>
      <p>
        Nuestro equipo está comprometido con tu salud mental, desde un enfoque integral. Combinando diferentes perspectivas te ofrecemos una atención personalizada, atendiendo tus necesidades específicas con calidad y calidez.
      </p>
      <p>
        Somos un equipo de profesionales de la psicología, neuropsicología, integración social y mediación familiar comprometidos con tu salud mental.
      </p>

      <div class="team-list">
        <div class="team-member" *ngFor="let member of teamMembers">
          <img [src]="getImageUrl(member.imageFileName)" [alt]="member.altText" />
          <div *ngIf="member.htmlContent" [appInsertHtml]="member.htmlContent"></div>
        </div>
      </div>
    </div>

    <div class="about-section">
      <h3>Nuestros valores</h3>
      <ul>
        <li><strong>Experiencia</strong> (Pascual)</li>
        <li><strong>Conocimiento</strong> (Pascual)</li>
        <li><strong>Actitud</strong> (Pascual)</li>
        <li><strong>Compromiso:</strong> ofrecemos servicios de calidad (Antonio y Jose Gabriel)</li>
        <li><strong>Cercanía</strong> (Antonio y Jose Gabriel)</li>
        <li><strong>Comprensión afectiva</strong> (Antonio y Jose Gabriel)</li>
        <li><strong>Accesibilidad</strong></li>
        <li><strong>Confidencialidad</strong></li>
      </ul>
    </div>
  </div>
</section>
