<ng-container *ngIf="parsedAnswers; else noAnswers">
  <div class="scrollable-table">
    <div class="table-responsive">
      <table class="answers-table">
        <thead>
          <tr>
            <th>Pregunta</th>
            <th>Respuesta</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="isArray(parsedAnswers); else objectAnswers">
            <tr *ngFor="let item of parsedAnswers">
              <td>{{ item.questionText }}</td>
              <td>{{ formatValue(item.answer) }}</td>
            </tr>
          </ng-container>

          <ng-template #objectAnswers>
            <tr *ngFor="let item of parsedAnswers | keyvalue">
              <td>{{ item.key }}</td>
              <td>{{ formatValue(item.value) }}</td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>

<ng-template #noAnswers>
  <p class="no-answers">No hay respuestas disponibles.</p>
</ng-template>
