<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/" class="nav-link" (click)="closeMenu()">
      <span class="highlighted-word">Cuidadamente</span>

    </a>
  </div>
  <div class="navbar-toggle" (click)="toggleMenu()">
    <span class="navbar-toggle-icon"></span>
  </div>
  <div class="navbar-menu" [class.is-active]="menuActive">
    <a routerLink="/about" class="nav-link" (click)="closeMenu()">Quiénes
      Somos</a>
    <a routerLink="/services" class="nav-link"
      (click)="closeMenu()">Servicios</a>
    <!-- <a routerLink="/faq" class="nav-link" (click)="closeMenu()">FAQ</a> -->
    <a routerLink="/registro-cita" class="nav-link"
      (click)="closeMenu()">Pedir cita</a>

    <ng-container *ngIf="authService.isAuthenticated(); else loginBtn">
      <a routerLink="/admin-dashboard" *ngIf="authService.isAdmin()"
        class="nav-link" (click)="closeMenu()">Administración</a>
      <button (click)="logout()" class="nav-button">Cerrar Sesión</button>
    </ng-container>
    <ng-template #loginBtn>
      <button routerLink="/login" class="nav-button"
        (click)="closeMenu()">Iniciar sesión</button>
    </ng-template>
  </div>
</nav>