<section class="admin-dashboard">
  <h2>Panel de Administración</h2>

  <div class="admin-actions">
    <button mat-raised-button color="primary" routerLink="/registro-cita-list">
      Citas programadas
    </button>
    <button mat-raised-button color="accent" routerLink="/contact-list">
      Mensajes de Contactos
    </button>
    <button mat-raised-button color="accent" routerLink="/image-managment">
      Imágenes
    </button>
    <button mat-raised-button color="accent" routerLink="/html-chunks-managment">
      Bloques de texto
    </button>
    <button mat-raised-button color="accent" routerLink="/questionarie-answers">
      Respuestas del cuestionario
    </button>
    <button mat-raised-button color="accent" routerLink="/tarjetas-list">
      Tarjetas
    </button>    
    <button mat-raised-button color="accent" routerLink="/ofertas-list">
      Ofertas
    </button>
  </div>
</section>
