<section class="admin-dashboard">
  <h2>Panel de Administración</h2>

  <div class="admin-actions">
    <button mat-raised-button color="primary" routerLink="/registro-cita-list">
      Ver Citas
    </button>
    <button mat-raised-button color="accent" routerLink="/contact-list">
      Ver Contactos
    </button>
    <button mat-raised-button color="accent" routerLink="/image-managment">
      Administrar imágenes
    </button>
    <button mat-raised-button color="accent" routerLink="/html-chunks-managment">
      Literales
    </button>
  </div>
</section>
