<div class="container"> 
  <app-home-hero></app-home-hero>

  <!-- Education Section -->
  <section id="education" class="py-5 bg-light">
    <h2 class="section-title">Últimos trabajos</h2>
    <app-home-servicios></app-home-servicios>
  </section>

  <!-- tesapp-home-testimonios Section -->
  <section id="testimonials" class="section py-5 bg-secondary">
    <h2 class="section-title">Testimonios</h2>
    <app-home-testimonios></app-home-testimonios>
  </section>

  <!-- Contact Section -->
  <section id="contact" class="section py-5 bg-light">
    <br />
    <h2 class="section-title">Contacto</h2>
    <app-home-contacto></app-home-contacto>
  </section>
</div>
