<h2>Listado de Contactos</h2>
<table mat-table [dataSource]="contactos" class="mat-elevation-z2" *ngIf="!loading">

  <!-- Nombre -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let contacto">{{ contacto.nombre }}</td>
  </ng-container>

  <!-- Email -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell *matCellDef="let contacto">{{ contacto.email }}</td>
  </ng-container>

  <!-- Mensaje -->
  <ng-container matColumnDef="mensaje">
    <th mat-header-cell *matHeaderCellDef>Mensaje</th>
    <td mat-cell *matCellDef="let contacto">{{ contacto.mensaje }}</td>
  </ng-container>

  <!-- Fecha Envío -->
  <ng-container matColumnDef="fechaEnvio">
    <th mat-header-cell *matHeaderCellDef>Fecha Envío</th>
    <td mat-cell *matCellDef="let contacto">{{ contacto.fechaEnvio | date:'short' }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div *ngIf="loading">Cargando...</div>
